@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    color: var(--Copper, #b87333);
    background-color: var(--White, #fff);
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
